body {
  font-family: var(--primary-font);
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    color: inherit;
  }
  
  .list {
    list-style: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }