:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --secondary-color: #757575;
    --accent-color: #212121;
    --effect-color: #2196f3;
    --button-color-effect: #188ce8;
    --text-color-on-dark-fone: #ffffff;
    --dark-fone-banner: #2f303a;
    --contact-color-futer: rgba(255, 255, 255, 0.6);
    --button-color: #f5f4fa;
    --bg-gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    );
}